<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Drivngo - Votre auto-école en ligne{% endblock %}</title>

        <link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        {% stylesheets
            'css/bootstrap.min.css'
            'css/main.css'
            '@AppBundle/Resources/public/css/style.css'
            filter='cssrewrite' output='css/compiled/app.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <header>
            <div class="container">
                <div class="brand">
                    <a href="{{ path('front_home') }}">Drivngo</a>
                </div>

                <div class="navigation">
                    <ul class="menu">
                        <li><a href="{{ path('front_schools') }}">Auto-écoles</a></li>
                        <li><a href="{{ path('front_partners') }}">Partenaires</a></li>
                        <li><a href="{{ path('front_contact') }}">Nous contacter</a></li>
                        <li class="signup"><a href="{{ path('fos_user_registration_register') }}">S'inscrire</a></li>
                        <li class="signin"><a href="{{ path('fos_user_security_login') }}">Se connecter</a></li>
                    </ul>
                </div>

                {% if app.request.get('_route') == 'front_home' %}
                    <div class="separator"></div>

                    <div class="presentation">
                        <h1>Découvrez Drivngo</h1>
                        <p>Dites au revoir à la paperasse !</p>

                        <span class="glyphicon glyphicon-play play-icon"></span>
                    </div>
                {% endif %}
            </div>
        </header>

        <div class="container">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('alert') %}
                <div class="alert alert-danger">
                    {{ flashMessage }}
                </div>
            {% endfor %}
        </div>

        {% block body %}
        {% endblock %}

        <footer>
            <div class="container">
                <div class="col-lg-3">
                    Drivngo 2016 - Tous droits réservés
                </div>
                <div class="navigation">
                    <ul class="menu">
                        <li><a href="{{ path('front_schools') }}">Auto-écoles</a></li>
                        <li><a href="{{ path('front_partners') }}">Partenaires</a></li>
                    </ul>
                </div>
            </div>
        </footer>

        {% javascripts
            'js/jquery2-2.js'
            'js/bootstrap.min.js'
            '@AppBundle/Resources/public/js/script.js'
            output='js/compiled/app.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>
