<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% stylesheets
            'css/bootstrap.min.css'
            '@AppBundle/Resources/public/css/style.css'
            filter='cssrewrite' output='css/compiled/app.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <div class="container">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('alert') %}
                <div class="alert alert-danger">
                    {{ flashMessage }}
                </div>
            {% endfor %}

            {% block body %}{% endblock %}
        </div>

        {% javascripts
            'js/jquery2-2.js'
            'js/bootstrap.min.js'
            '@AppBundle/Resources/public/js/script.js'
            output='js/compiled/app.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>
