{% extends "school_dashboard.html.twig" %}

{% block javascripts %}
    {% javascripts '@BackBundle/Resources/public/js/dashboard_payment_school_chart.js' %}
        {{ parent() }}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}


{% block body %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Votre auto école <small>{{ school.name }}</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> {{ school.name }}
                </li>
                <li class="active">
                    Paramètres
                </li>
                <li class="active">
                    Suppression
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Confirmer la suppression</h2>
            {{ form_start(destroyForm, { action: path('back_schools_destroy', { id: school.id }) }) }}
                {{ form_widget(destroyForm._token) }}
                <button class="btn btn-danger">Je confirme cette action irréversible</button>
            {{ form_end(destroyForm, { render_rest: false }) }}
        </div>
    </div>

    <br/>

{% endblock %}
