{% extends "dashboard.html.twig" %}

{% block javascripts %}
    {% javascripts '@BackBundle/Resources/public/js/dashboard_payment_school_chart.js' %}
        {{ parent() }}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}


{% block body %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Votre auto école <small>{{ school.name }}</small>
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-dashboard"></i> {{ school.name }}
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>{{ school.name }}</h2>
            <p>{{ school.description}}</p>

            <address>
              {{ school.address }}<br>
              {{ school.city }}, {{ school.postcode }}<br>
              <abbr title="Phone">P:</abbr> {{ school.phoneNumber }}
            </address>
        </div>
    </div>
    {% if is_granted('ROLE_MANAGER') and app.user.id == school.user.id %}
        <div class="row">
            <div class="col-md-12">
                <h2>Historique</h2>
                <div id="chart" style="height: 300px" data-id="{{ school.id }}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Actions</h2>
            </div>
            <div class="col-md-6">
                <a class="btn btn-primary" href="{{ path('back_schools_edit', { id: school.id }) }}">Editer</a>
                <a class="btn btn-primary" href="{{ path('back_schools_pricings', { school_id: school.id }) }}">Les tarifs</a>
            </div>
            <div class="col-md-6 text-right">
                {{ form_start(destroyForm, { action: path('back_schools_destroy', { id: school.id }) }) }}
                    {{ form_widget(destroyForm._token) }}
                    <button class="btn btn-danger">Supprimer</button>
                {{ form_end(destroyForm, { render_rest: false }) }}
            </div>
        </div>
            <br/>

    {% endif %}

    {% if ((is_granted('ROLE_MANAGER') or is_granted('ROLE_SECRETARY')) and app.user.worksIn(school)) %}
        <div class="row">
            <div class="col-md-6">
                <a href="{{ path('back_schools_students', { school_id: school.id }) }}" class="btn btn-primary">Voir les étudiants</a>
            </div>
        </div>
    {% endif %}

{% endblock %}
