{% extends "school_dashboard.html.twig" %}

{% block javascripts %}
    {% javascripts '@BackBundle/Resources/public/js/dashboard_payment_school_chart.js' %}
        {{ parent() }}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}


{% block body %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Votre auto école <small>{{ school.name }}</small>
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-dashboard"></i> {{ school.name }}
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>{{ school.name }}</h2>
            <p>{{ school.description}}</p>

            <address>
              {{ school.address }}<br>
              {{ school.city }}, {{ school.postcode }}<br>
              <abbr title="Phone">P:</abbr> {{ school.phoneNumber }}
            </address>
        </div>
    </div>
    {% if is_granted('ROLE_MANAGER') and app.user.id == school.user.id %}
        <div class="row">
            <div class="col-md-12">
                <h2>Historique</h2>
                <div class="row">
                    <div class="col-md-3">
                        <div class="input-group date" data-date-format="yyyy/mm/dd" data-provide="datepicker">
                            <input type="text" id="dateMin" placeholder="Date de départ" class="form-control">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group date" data-date-format="yyyy/mm/dd" data-provide="datepicker">
                            <input type="text" id="dateMax" placeholder="Date de fin" class="form-control">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary" id="updateChart">Mettre à jour</button>
                    </div>
                </div>
                <div id="chart" style="height: 300px" data-id="{{ school.id }}">
                </div>
            </div>
        </div>

        <br/>
    {% endif %}

{% endblock %}
