{% extends "::dashboard.html.twig" %}

{% block javascripts %}
    {% javascripts '@BackBundle/Resources/public/js/dashboard_payment_charts.js' %}
        {{ parent() }}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Tableau de bord <small>Statistiques</small>
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-dashboard"></i> Tableau de bord
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        {% if is_granted('ROLE_MANAGER') %}
            {% if schools|length == 0 %}
                <div class="col-md-4 col-md-offset-4">
                    <p>Vous n'avez pas encore d'auto école. Démarrer maintenant !</p>
                    <a href="{{ path('back_schools_new') }}"><button class="btn btn-primary btn-lg btn-block">Gérer mon auto école en ligne</button></a>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-md-3">
                        <div class="input-group date" data-date-format="yyyy/mm/dd" data-provide="datepicker">
                            <input type="text" id="dateMin" placeholder="Date de départ" class="form-control">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group date" data-date-format="yyyy/mm/dd" data-provide="datepicker">
                            <input type="text" id="dateMax" placeholder="Date de fin" class="form-control">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary" id="updateChart">Mettre à jour</button>
                    </div>
                </div>
                {% for school in schools %}
                    <div class="col-md-6">
                        <h2>{{ school.name }}</h2>
                        <div id="chart_{{ school.id }}" style="height: 250px;">
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% elseif (is_granted('ROLE_USER') and not is_granted('ROLE_SECRETARY') and not is_granted('ROLE_INSTRUCTOR')) %}
            {% if app.user.students|length == 0 %}
                <div class="col-md-4 col-md-offset-4">
                    <p>Vous n'etes pas encore inscrit. Démarrer dès maintenant votre apprentissage</p>
                    <a class="btn btn-primary btn-lg btn-block" href="{{ path('front_schools') }}">Trouver une auto école</a>
                </div>
            {% else %}
                {% for student in app.user.students %}
                    <div class="col-md-4">
                        <h2>{{ student.school.name }}</h2>
                        <p>{{ student.school.description }}</p>
                        <a class="btn btn-primary" href="{{ path('back_schools_show', { id: student.school.id }) }}">Suivre ma formation</a>
                    </div>
                {% endfor %}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
